@CHARSET "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Press+Start+2P&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/*==================

	좌측 사이드바	
	
===================*/

.mypagelogo {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1.5em;
	font-weight: 600;
	color: #343a40;
	margin-top: 20px;
}

.mypagelogo:hover {
	text-decoration: none;
}

.rounded {
	margin-left: 100px;
}

aside .left-sidebar {
	margin-top: 120px !important;
	
}

.divide {
	font-size: 15px !important;
}