@CHARSET "UTF-8";

/* ----------------- 테이블 영역------------------------- */		
.table {
	text-align: center !important;
}
.table .thead-light th {
	color: #fff !important;
    font-weight: 900 !important;
    font-size: 0.9em;
    background-color: #000 !important;
    border-color: #fff !important;    	                 
}


.table tr:hover {
	cursor: pointer;
	background: linear-gradient(to right,#8971ea,#7f72ea,#7574ea,#6a75e9,#5f76e8);
	color: #fff;
}

/* ----------------- 페이징 버튼 영역------------------------- */		
.pagination { margin-left: 15px;}
.pagination li a{
	background-color: #fff;
	color: #000;
}
  	
.pagination li a:hover{
	background-color: #000;
	color: #fff;
}
  	
.pagination li {
	margin-left: 5px;    	
}

.page-item.active .page-link{
	background-color: #000 !important;
	border-color: #fff !important;
}


.active {
	border:none !important;
	
}




/* 테이블의 내용이 길게 나열될 때 말줄임표 표시되도록 하여 테이블 사이즈 뒤틀림  방지*/


table {
	text-align: center;
	table-layout: fixed; 

/*테이블 내에서 <td>의 넓이,높이를 고정.*/

}
table th, table td {
	text-align: center;
    width:100%; /* width값을 주어야 말줄임표 적용 */
    overflow: hidden;
    text-overflow:ellipsis; /*overflow: hidden; 속성과 같이 써줘야 말줄임 기능이 적용*/
    white-space:nowrap;  /*<td>보다 내용이 길경우 줄바꿈 되는것을 막아준다.*/
    vertical-align: baseline !important;
}

.thead-light tr th {
	border-right : 1px solid #fff;
}

