<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>0Mangro_TeamProject-0.01</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
    <description>Connection</description>
    <res-ref-name>jdbc/mango</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  

<!--1. 학원 키워드 -->	
  <servlet>
    <servlet-name>AcademyKeywordFrontController</servlet-name>
    <servlet-class>mango.academy_keyword.action.AcademyKeywordFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcademyKeywordFrontController</servlet-name>
    <url-pattern>*.akey</url-pattern>
  </servlet-mapping>  
  
  
  
  
<!-- 2. 학원 등록 요청  -->	
  <servlet>
    <servlet-name>AcademyRegisterFrontController</servlet-name>
    <servlet-class>mango.academy_register.action.AcademyRegisterFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcademyRegisterFrontController</servlet-name>
    <url-pattern>*.areg</url-pattern>
  </servlet-mapping>  
  
  
  
  
<!--3. 학원 후기  -->	
  <servlet>
    <servlet-name>AcademyReviewFrontController</servlet-name>
    <servlet-class>mango.academy_review.action.AcademyReviewFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcademyReviewFrontController</servlet-name>
    <url-pattern>*.arev</url-pattern>
  </servlet-mapping>  
  
  
  
  
<!-- 4. 학원(대량정보가 들어있는)   -->	
  <servlet>
    <servlet-name>AcademyFrontController</servlet-name>
    <servlet-class>mango.academy.action.AcademyFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcademyFrontController</servlet-name>
    <url-pattern>*.aca</url-pattern>
  </servlet-mapping>  
  
  
<!-- 5. 익명사담방(익명게시판)   -->	
  <servlet>
    <servlet-name>AnonyBoardFrontController</servlet-name>
    <servlet-class>mango.anony_board.action.AnonyBoardFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnonyBoardFrontController</servlet-name>
    <url-pattern>*.anob</url-pattern>
  </servlet-mapping>  
  
  
<!-- 6. 청강 관리   -->	
  <servlet>
    <servlet-name>AuditMangementFrontController</servlet-name>
    <servlet-class>mango.audit_management.action.AuditMangementFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuditMangementFrontController</servlet-name>
    <url-pattern>*.adma</url-pattern>
  </servlet-mapping>  
  
  
<!-- 7. 청강 신청   -->	
  <servlet>
    <servlet-name>AuditRequestFrontController</servlet-name>
    <servlet-class>mango.audit_request.action.AuditRequestFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuditRequestFrontController</servlet-name>
    <url-pattern>*.adrq</url-pattern>
  </servlet-mapping>  
  
  
<!-- 8. 익명게시판 댓글 -->	
  <servlet>
    <servlet-name>CommentAnonyFrontController</servlet-name>
    <servlet-class>mango.comment_anony_board.action.CommentAnonyFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentAnonyFrontController</servlet-name>
    <url-pattern>*.cano</url-pattern>
  </servlet-mapping>  
  
  
<!-- 9. 문의게시판 댓글 -->	
  <servlet>
    <servlet-name>CommentQnaFrontController</servlet-name>
    <servlet-class>mango.comment_qna_board.action.CommentQnaFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentQnaFrontController</servlet-name>
    <url-pattern>*.cqna</url-pattern>
  </servlet-mapping>  
  
  
<!-- 10. 도움이 된 학원 후기 -->	
  <servlet>
    <servlet-name>LikedAcaReviewFrontController</servlet-name>
    <servlet-class>mango.liked_aca_review.action.LikedAcaReviewFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikedAcaReviewFrontController</servlet-name>
    <url-pattern>*.lrev</url-pattern>
  </servlet-mapping>  
  
<!-- 11. 좋아요 누른 학원 -->	
  <servlet>
    <servlet-name>LikedAcademyFrontController</servlet-name>
    <servlet-class>mango.liked_academy.action.LikedAcademyFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikedAcademyFrontController</servlet-name>
    <url-pattern>*.laca</url-pattern>
  </servlet-mapping>  
  
  
<!-- 12. 회원 -->	
  <servlet>
    <servlet-name>MemberFrontController</servlet-name>
    <servlet-class>mango.member.action.MemberFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberFrontController</servlet-name>
    <url-pattern>*.me</url-pattern>
  </servlet-mapping>  
  
<!-- 13. 결제 -->	
  <servlet>
    <servlet-name>PaymentFrontController</servlet-name>
    <servlet-class>mango.payment.action.PaymentFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentFrontController</servlet-name>
    <url-pattern>*.pay</url-pattern>
  </servlet-mapping>  
  
  
<!-- 14. 고객센터(문의게시판) -->	
  <servlet>
    <servlet-name>QnaBoardFrontController</servlet-name>
    <servlet-class>mango.qna_board.action.QnaBoardFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QnaBoardFrontController</servlet-name>
    <url-pattern>*.qna</url-pattern>
  </servlet-mapping>  
  
  
<!-- 15. 관리자 메뉴 -->	
  <servlet>
    <servlet-name>AdminFrontController</servlet-name>
    <servlet-class>mango.admin.action.AdminFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFrontController</servlet-name>
    <url-pattern>*.adm</url-pattern>
  </servlet-mapping>    
  
  
  <!-- 15. ck에디터 사용을 위한 추가사항 -->
<!-- CKFINDER START -->
<servlet>
  <servlet-name>ConnectorServlet</servlet-name>
  <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
  <init-param>
      <param-name>XMLConfig</param-name>
      <param-value>/WEB-INF/config.xml</param-value>
  </init-param>
  <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
</servlet>
  
<servlet-mapping>
  <servlet-name>ConnectorServlet</servlet-name>
  <url-pattern>/ckfinder/core/connector/java/connector.java</url-pattern>
</servlet-mapping>  
<!-- CKFINDER END -->




<!-- 16. 404, 500에러 페이지를 위한 추가 사항 -->

  <error-page>
    <error-code>404</error-code>
    <location>/ErrorPage/Error404.jsp</location>
  </error-page>
  
  
  <error-page>
    <error-code>500</error-code>
    <location>/ErrorPage/Error500.jsp</location>
  </error-page>


  


  

</web-app>


  